@linkColor: #000;
@import "less/mixins.less";
@pink: #be1a8d;
@picback: #CCC;

.profilePic{
	position:relative;
	width:200px;
	height:200px;
	background-color:@picback;
	background-repeat:no-repeat;
}