{% extends "layout.html" %}

{% block body %}
<div class="container atleast">
	<div class="row">
		<div class="span6 offset3 rocketjump"></div>
	</div>
	<div class="row">
		<div class="span6 offset3">
			<h2>Hi there!</h2> Project Rocketjump is my entry to for MIT's 2013 IAP 6.470 competition. Feel free to browse the competition material at the <a href="http://6.470.scripts.mit.edu/2013/">6.470 website</a>.
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3"><br />
			Please keep in mind that it is a competition entry, and not meant to be a full fledged service (but it could be, with some additional help!). Also, this was designed for Chrome, so it's not guaranteed to work in any other browser, although I think it should.
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3"><br />
			<h2>Thanks for stopping by, and have a great time taking notes!<h2>
		</div>
	</div>

</div>
{% endblock %}