{% extends "layout.html" %}

{% block title %}
Course
{% endblock %}

{% block body %}
<div class="showcase3">
	<div class="container">
		<div class="row welcome">
			<div class="span12 hello textcenter">
				<h1 class="hasNumbers">{{ course.name }}</h1>
			</div>
		</div>
		<div class="row noleftmargin">
			<div class="span12 textcenter">
			{% if enrolled %}
				{% if live %}
					{% if not unclosed %}
						<form action="{{ url_for('match', coursename=course.name) }}" method=get>
							<input class="matchmebtn" type=submit value="">
						</form>
					{% else %}
						<form action="{{ url_for('match', coursename=course.name) }}" method=get>
							<input class="backtobtn" type=submit value="">
						</form>
					{% endif %}
				{% else %}
					<form action="{{ url_for('match', coursename=course.name) }}" method=get>
						<input class="matchmebtn" type=submit value="">
					</form>
				{% endif %}
			{% else %}
				<!--<button class='enroll'>Enroll</button>-->
				<form action="{{ url_for('course', coursename=course.name) }}" method=post>
					<input class="enrollmebtn" type=submit value=''>
				</form>
			{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="orangebar"></div>
<div class="coursecontain">
	<div class="container">
		{% for unclosednote in unclosed %}
		    <div class="alert alert-info">
		    	<button type="button" class="close" data-dismiss="alert">&times;</button>
		    	Hey, are you done with this? <a href="{{ url_for('notepad', coursename=course.name, noteid=unclosednote.id) }}" target="_self">{{ unclosednote.name }}</a>
		    	<button class='finishbtn btn' coursename='{{ course.name }}' noteid='{{ unclosednote.id }}'>Yep</button>
		    </div>
		{% endfor %}
		<div class="row">
			<div class="span6">
				<div class="row pushdown2">
					<div class="span6">
						<div class="courseheader2">Class Info</div>
						Professor: {{ course.professor }}<br />
						Enrollment: {{ course.users.all()|count }}<br />
						{% if course.lectures.all() %}
						Most recent lecture: {{ course.lectures.all()[-1].date }}<br />
						{% endif %}
						Live: {% if live %}Yes{% else %}No{% endif %}
						<br /><br />
						{{ course.description }}
					</div>
				</div>
				<div class="row pushdown2">
					<div class="span6">
						<div class="courseheader2">Students</div>
						{% for student in course.users.all() %}
							<a href="http://www.facebook.com/{{ student.fid }}">
								<div class='kewl'>
									<img src="{{ student.picurl }}" class="collabProfile" />
									<br />
									{{ student.fname }}
								</div>
							</a>
						{% else %}
							<h3>Nobody takes this course yet!</h3>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="span6">
				{% if enrolled %}
				<div class="row pushdown2">
					<div class="span6">
						<div class="courseheader2">Your Notes</div>
						{% for unote in unotes %}
							<a href="{{ url_for('notepad', coursename=course.name, noteid=unote.id) }}" target="_self">
								<div class='coursetab'>
									{{ unote.date }} - {{ unote.name }}<br />
									By 
									{% if unote.users.all()|count == 2 %}
										{{ unote.users.all()[0].fname }} {{ unote.users.all()[0].lname }}
										and {{ unote.users.all()[1].fname }} {{ unote.users.all()[1].lname }}
									{% else %}
										{{ unote.users.all()[0].fname }} {{ unote.users.all()[0].lname }}
									{% endif %}
									<!-- TODO: word count -->
								</div>
							</a>
						{% else %}
							<h3>No notes so far!</h3>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				<div class="row pushdown2">
					<div class="span6">
						<div class="courseheader2">Public Notes</div>
						{% for note in course.notes %}
							{% if note.public %}
								<a href="{{ url_for('notepad', coursename=course.name, noteid=note.id) }}" target="_self">
									<div class="coursetab">
										{{ note.date }} - {{ note.name }}<br />
										By 
										{% if note.users.all()|count == 2 %}
											{{ note.users.all()[0].fname }} {{ note.users.all()[0].lname }}
											and {{ note.users.all()[1].fname }} {{ note.users.all()[1].lname }}
										{% else %}
											{{ note.users.all()[0].fname }} {{ note.users.all()[0].lname }}
										{% endif %}
										<!-- TODO: word count -->
									</div>
								</a>
							{% endif %}
						{% endfor %}
						{% if noPublic %}
							<h3>No public notes yet!</h3>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}