<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '124499577716801', // App ID
      //appId      : '136661329828261',
      channelUrl : '//www.notability.org/channel.html', // Channel File
      //channelUrl : '//www.testability.org:5000/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          // connected

        } else if (response.status === 'not_authorized') {
          // not_authorized
        } else {
          // not_logged_in
        }
      });
  };

  function login() {
      FB.login(function(response) {
          if (response.authResponse) {
              // connected
              FB.api('/me', function(response) {
                  // hard redirect with params
                  // fid, name, email, education, username
                  var fid = encodeURIComponent(response.id)
                  var name = encodeURIComponent(response.name)
                  var email = encodeURIComponent(response.email)
                  var education = ''
                  if (response.education) {
                    education = encodeURIComponent(response.education[response.education.length-1]['school']['name'])
                  }
                  var username = encodeURIComponent(response.username)
                  window.location.href = '/login'+'?fid='+fid+'&name='+name+'&email='+email+'&education='+education+'&username='+username
              });
          } else {
              // cancelled
          }
      }, {scope: 'email,user_photos,publish_actions,user_education_history'});
  }

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>