{% extends "layout.html" %}

{% block body %}
<div class="padcontain">
<div class="container">
		<div class="row">
			<div class="span8">
				<h3>{{ note.course.name }} - {{ note.lecture.date }} - 
					<span class="noteName" coursename="{{ note.course.name }}" noteid="{{ note.id }}">
						<text data-type="editable" data-for=".awwyee">{{ "'"+note.name+"'" }}</text><input class="awwyee" />
					</span>
				</h3>
			</div>
			<div class="span4">
				<button class="btn btn-info pull-right" style="margin-top:10px"><i class="icon-refresh icon-white"></i> Reroll</button>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<iframe seamless='seamless' class='notepad' src="{{ note.url }}"></iframe>
			</div>
		</div>

		<div class="row">
			<div class="span10">
				<form action="{{ url_for('done', coursename=note.course.name, noteid=note.id) }}" method=get>
					<button class="btn btn-info pull-right" type=submit value="Done" style="margin-top:10px; margin-bottom:30px"><i class="icon-check icon-white"></i> Mark as Finished</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}