{% extends "layout.html" %}

{% block title %}
Panel
{% endblock %}

{% block body %}
<div class="showcase3">
	<div class="container">
		<div class="row welcome">
			<div class="span12 hello textcenter">
				<h1 class="hasNumbers" style="margin-top:30px">{{ lecture.course.name }}</h1>
			</div>
		</div>
	</div>
</div>
<div class="orangebar"></div>
<div class="statscontain">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Stats for {{ lecture.date }}</h1>
				<h2>User statistics</h2>
				{% if lecture.live %}
				<span class='statistic liveStatus' style="color:green;">Live</span> status
				{% else %}
				<span class='statistic liveStatus' style="color:red;">Not live</span> status
				{% endif %}
				<br />
				<span class="statistic numEnrolled">{{ taking }}</span> Enrolled 
				<br />
				<span class="statistic numConnect">{{ live }}</span> connected
				<br />
				<span class="statistic numQueued">{{ lecture.queue.users.all()|count }}</span> queued
				<br />
				<!--<span class="statistic wordAverage">239</span> word average<br />
				<span class="statistic wordRate">83.5</span> wpm average-->
			</div>
		</div>
		<div class="row" style="margin-top:30px">	
			<div class="span12">
				<h2>Enrollment</h2>
			</div>
		</div>
		<div class="row">
			<div class="span12 dudegraph pull-left">
				<div class="row pull-left duderow duderow1">
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:30px">	
			<div class="span12">
				<h2>Live Connections</h2>
			</div>
		</div>
		<div class="row">
			<div class="span12 dudegraph pull-left">
				<div class="row pull-left duderow duderow2">
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:30px">	
			<div class="span12">
				<h2>Queued Users</h2>
			</div>
		</div>
		<div class="row">
			<div class="span12 dudegraph pull-left">
				<div class="row pull-left duderow duderow3">
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
					<div class="span1 datapoint"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/grapher.js') }}"></script>
{% endblock %}