{% extends "layout.html" %}

{% block title %}
User
{% endblock %}

{% block body %}
<div class="showcase2">
	<div class="container">
		<div class="row welcome">
			<div class="span12 hello textcenter" style="margin-top:30px">
				<h1>{{ user.fname }}'s Info</h1>
			</div>
		</div>
	</div>
</div>
<div class="orangebar"></div>
<div class="uppercontain">
	<div class="container">
		<div class="row">
			<a href="http://www.facebook.com/{{ user.fid }}">
				<div class="span2 profilePic" style="background-image:url({{ user.picurl }});"></div>
			</a>
			<div class="span3 userstats">
				<div style="margin-top:5px;font-size:1.5em;font-family:Edelsans;">{{ user.fname }} {{ user.lname }}</div>
				{{ user.college }}<br />
				{{ user.courses|count }} Courses<br />
				{{ user.notes|count }} Notes<br />
				{{ collaborators|count }} Collaborators
			</div>
	</div>
</div>
<div class="lowercontain">
	<div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
        {% endfor %}
		{% if unclosed %}
			{% for unclosednote in unclosed %}
			    <div class="alert alert-info">
			    	<button type="button" class="close" data-dismiss="alert">&times;</button>Hey, are you done with this? <a href="{{ url_for('notepad', coursename=unclosednote.course.name, noteid=unclosednote.id) }}" target="_self">{{ unclosednote.name }}</a> <button class='finishbtn btn' coursename='{{ unclosednote.course.name }}' noteid='{{ unclosednote.id }}'>Yep</button>
			    </div>
			{% endfor %}
		{% else %}
			{% if suggested %}
				{% for course in suggested %}
					<div class='alert alert-info'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>Hey! Some of your friends are in '{{ course.name }}'. Wanna check it out?    <a href="{{ url_for('course',coursename=course.name) }}"><button class="btn">Yes</button></a>
					</div>
				{% endfor %}
			{% endif %}
		{% endif %}

		<div class="row">
			<div class="span6 pushdown">
				<text class="courseheader">Current courses</text>
					{% for course in user.courses %}
						<a href="{{ url_for('course', coursename=course.name) }}">
							<div class='coursetab'>
								<div class="tabheader">{{ course.name }}</div>
								<div>
									{{ course.users.all()|count }} people taking this course:
								</div>
								<div style='margin-top:5px'>
									{% for dupe in course.users %}
										<img src='{{ dupe.spicurl }}' class="smallProfile padSmall" />
									{% endfor %}
								</div>
							</div>
						</a>
					{% else %}
						<h3>No courses yet - won't you join one?</h3>
					{% endfor %}
			</div>
			<div class="span6">
				<div class="row">
					<div class="span6 pushdown">
						<text class="courseheader">Collaborators</text><br />
						{% for collaborator in collaborators %}
							<a href="url_for('user',userid=collaborator.id)">
								<div class='kewl'>
									<img src="{{ collaborator.picurl }}" class="collabProfile" />
									<br />
									{{ collaborator.fname }}
								</div>
							</a>
						{% else %}
							<h3>No collaborators yet.</h3>
						{% endfor %}
					</div>
				</div>
				<div class="row oldnoterow">
					<div class="span6 pushdown">
						<text class="courseheader">Public notes</text>
						<ul class="notes">
						{% if g.user.public_access %}
							{% for note in user.notes[::-1] %}
								{% if note.public %}
									<li><a href="{{ url_for('notepad', coursename=note.course.name, noteid=note.id, public=True) }}" target="_self">{{ note.course.name }} - {{ note.date }} - {{ note.name }}</a></li>
								{% endif %}
							{% endfor %}
							{% if noPublic %}
								<h3>No public notes yet!</h3>
							{% endif %}
						{% else %}
							<h3>You must publish a note before you can view others' notes!</h3>
						{% endif %}
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}